@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
  --text: #0c0c0c;
  --bg: #F7F7F9;
  --serif-1: 'Spectral', serif;
  --serif-2: 'Old Standard TT', serif;
  --serif-3: 'Forum', serif;
  --serif-4: 'Cormorant', serif;
  --serif-5: 'Sorts Mill Goudy', serif;
  --serif-6: 'Bentham', serif;
  --serif-7: 'EB Garamond', serif
  /* --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

html, body {
  background: var(--bg);
  /* font-family: 'Times new roman'; */
  font-family: var(--serif-7);
}


p, h6
  {
    font-size: 18px;
    line-height: 2;
    @media (min-width: 768px) {
      font-size: 17px;
  }
  }
  

body {
  margin: 0;
}


p {
  margin: 0;
  color: var(--text);
}


